p {
  color: #dcd6d6;
  text-align: center;
}

.jonas-name-link,
.decimal-to-binary-link,
a {
  color: #dcd6d6;
}

.communication-heading {
  font-size: 22px;
}

pre {
  color: #fff;
}

.codeblock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-left: 20%;
}

.avatar {
  margin-top: 2rem;
  margin-left: 41%;
  width: 150px;
  height: 150px;
}
