$white: #dcd6d6;

p {
  color: $white;
  text-align: center;
}

.jonas-name-link,
.decimal-to-binary-link,
a {
  color: $white;
}

.communication-heading {
  font-size: 22px;
}

pre {
  color: $white;
}

.codeblock {
  width: 60%;
  margin-left: 20%;
}

.avatar {
  margin-top: 2rem;
  margin-left: 41%;
  width: 150px;
  height: 150px;
}

.codewars-header {
  margin: 4%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}