$background-primary: #0e0e12;
$button-box-shadow: 0 0 15px rgba(61, 14, 177, 0.75);
$button-box-shadow-hover: 0 0 30px rgba(61, 14, 177, 0.8) !important;
$button-transition: all 0.2s;
$button-background: 0 0;
$button-color: #eef5f8 !important;
$button-border-radius: 32px;
$primary-font: 'Raleway', sans-serif;
